.jumbotron {
    color: white;
    font-family: 'Kaushan Script', cursive;
}

h1 {
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 70pt;
    text-align: center;
}

body {
    background-image: url('https://images.pexels.com/photos/556416/pexels-photo-556416.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    width: 80%;
    margin-left: 10%;
}

.panel {
    margin-top: 50px;
}