.jumbotron {
    color: white;
    font-family: 'Kaushan Script', cursive;
}

h1 {
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 70pt;
    text-align: center;
}

body {
    background: url('../images/wallpaper.jpg');
    background-size: cover;
    width: 80%;
    margin-left: 10%;
}

.panel {
    margin-top: 50px;
}